.blue.button,.blue.button:visited
{
	background-color:#518499;
	/*
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 100ms;
	-webkit-transition-timing-function: ease-in-out; 
	*/
}

.blue.button:hover
{
	background-color:#02243C;
}

.button,.button:visited
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
	background:#222 url(/img/button-overlay.png) repeat-x;
	border-bottom:1px solid rgba(0,0,0,0.25);
	color:#fff;
	cursor:pointer;
	display:inline-block;
	padding:7px 5px 5px;
	font-size: 1.0em;
	position:relative;
	text-decoration:none;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

.button,.button:visited,.medium.button,.medium.button:visited
{
	font-weight:normal;
	line-height:1;
	text-shadow:0 -1px 1px rgba(0,0,0,0.25);
}

.button:active
{
	top:1px;
	left: 1px;
}

.button:hover
{
	background-color:#111;
	color:#fff;
}

.green.button,.green.button:visited
{
	background-color:#91bd09;
}

.green.button:hover,
.green.button.active
{
	background-color:#749a02;
}

.large.button,.large.button:visited
{
	font-size:14px;
	padding:8px 14px 9px;
}

.magenta.button,.magenta.button:visited
{
	background-color:#a9014b;
}

.magenta.button:hover
{
	background-color:#630030;
}

.orange.button,.orange.button:visited
{
	background-color:#ff5c00;
}

.orange.button:hover
{
	background-color:#d45500;
}

.red.button,.red.button:visited
{
	background-color:#e33100;
}

.red.button:hover
{
	background-color:#872300;
}

.small.button,.small.button:visited
{
	font-size:11px;
}

.yellow.button,.yellow.button:visited
{
	background-color:#ffb515;
}

.yellow.button:hover
{
	background-color:#fc9200;
}