body {
  font-family: "Trebuchet MS", Arial, Helvetica;
  background-color: #f0eee1;
  margin: 0;
}

td {
  padding: 6px 4px;
}

.page {
  padding: 15px;
  padding-top: 10px;
  margin-bottom: 22px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  -moz-box-shadow: 3px 3px 3px #e5e3d1;
  -webkit-box-shadow: 3px 3px 3px #e5e3d1;
}

.column {
  flex: 1;
  text-align: justify;
}

.page .column.left {
  padding-left: 0px;
  padding-right: 15px;
  border-right: 1px solid #ddd;
}

.page .column {
  padding-left: 15px;
  border-right: 0px none;
}

p {
  text-indent: 1.8em;
  margin: 0;
}
